.Description
  .Description__container
    h1.Description__heading Digital products for UX/UI designers and developers #[img(src=require('./../../images/workm.png') srcset=require('./../../images/workm@2x.png'))]
    p.Description__text Soon there will be a store to sell our products! Right now you can buy our products on popular markets!
    .Description__socials
      a.Description__link(href="https://gumroad.com/uxdesigner" target="_blank"): include ../../images/Gumroad.svg
      a.Description__link(href="#"): include ../../images/Envato.svg
      a.Description__link(href="#"): include ../../images/Creative-market.svg
      a.Description__link(href="#"): include ../../images/UI8 (Dark).svg
