footer.Footer
  .g-wrapper
    .Footer__container
      .Footer__copyright Copyright © 2017-2018 UXDesigner.I’m
      .Footer__socials
        a(href="#").Footer__social
          include ../../images/Behance.svg
        a(href="#").Footer__social
          include ../../images/dribbble.svg
        a(href="#").Footer__social
          include ../../images/instagram.svg
        a(href="#").Footer__social
          include ../../images/twitter.svg
        a(href="#").Footer__social
          include ../../images/envelop.svg

