footer.Footer
  .g-wrapper
    .Footer__container
      .Footer__copyright Copyright © 2017-2018 UXDesigner.I’m
      .Footer__socials
        a(href="https://www.behance.net/UXDesigner-Im" target="_blank").Footer__social
          include ../../images/Behance.svg
        a(href="https://dribbble.com/pecherits4" target="_blank").Footer__social
          include ../../images/dribbble.svg
        a(href="https://www.instagram.com/uxdesigner.im/" target="_blank").Footer__social
          include ../../images/instagram.svg
        a(href="https://twitter.com/UXDesigner_Im" target="_blank").Footer__social
          include ../../images/twitter.svg
        a(href="mailto:info@uxdesigner.im").Footer__social
          include ../../images/envelop.svg

