header.Header
  .g-wrapper
    .Header__container
      .Header__logo: include ../../images/logo-black.svg
      .Switch
        .Switch__image
        input(type="checkbox" id="switch")
        label(for="switch").Switch__container
          .Switch__circle
