.Subscribe
  .Subscribe__container
    h2.Subscribe__heading Subscribe to not miss more products and the latest news!
    form.Subscribe__form
      input(type="email" name="email" placeholder="Enter your email to subscribe" required).Subscribe__input
      button(type="submit").Subscribe__button Subscribe
    .Subscribe__alert You have successfully subscribed, thank you!
