*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px

:root {
  --primaryColor: white;
  --secondaryColor: black;
  --logoImage: url('./../images/logo-black.svg')
  --switchImage: url('./../images/Moon.svg')
  --transition: .5s
}

.Page {
  font-family: 'Montserrat';
}

#wrapper
  width 100%
  height 100vh
  overflow-x: hidden

.Top
  height 62vh
  background-color var(--primaryColor)
  transition background-color var(--transition)
  will-change: background-color
  display flex
  flex-direction column
.Bottom
  height 38vh
  background-color var(--secondaryColor)
  transition background-color var(--transition)
  will-change: background-color
  display flex
  flex-direction column

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem

@media (max-width: 1600px)
  html
    font-size: 9px

@media (max-width: 1440px)
  html
    font-size: 8px
  .Top
    height 60vh
  .Bottom
    height 40vh

@media (max-width: 1280px)
  html
    font-size: 7px

@media (max-width: 1024px)
  html
    font-size: 6px

@media (max-width: 1000px)
  html
    font-size: 8px
  .g-wrapper
    max-width: 768px;
    padding-left 2.4rem
    padding-right 2.4rem
  .Top
    height 56vh
  .Bottom
    height 44vh

@media (max-width: 667px)
  html
    font-size: 10px
  .g-wrapper
    max-width: 320px;
    padding-left 1.4rem
    padding-right 1.4rem
  #wrapper
    height auto
  .Top
    height 100vh
  .Bottom
    height 100vh


