.Description
  flex-grow: 1
  display flex
  justify-content center
  align-items center
  &__container
    width 78rem
  &__heading
    font-size: 5rem
    font-weight: 900
    color var(--secondaryColor)
    text-align center
    margin-bottom 2.4rem
    transition color var(--transition)
    will-change: color
    & img
      width 4.2rem
      object-fit contain
  &__text
    width 90%
    margin 0 auto 4rem auto
    font-size: 1.8rem
    font-weight: 400
    color var(--secondaryColor)
    text-align center
    transition color var(--transition)
    will-change: color
    line-height 2.8rem
  &__socials
    display flex
    justify-content center
  &__link
    margin-right 3.8em
    transition transform var(--transition)
    will-change: transform
    &:last-child
      margin-right 0
      & path
        transition fill var(--transition)
        will-change: fill
    & svg
      height 4rem
    &:hover
      transform translateY(-.5rem)

@media (max-width 1000px)
  .Description
    &__heading
      font-size 4.6rem
      margin-bottom 3.6rem
    &__container
      padding-left 2.4rem
      padding-right 2.4rem
    &__text
      margin 0 auto 4.2rem auto

@media (max-width 667px)
  .Description
    &__heading
      font-size 3rem
      line-height 4rem
      margin-bottom 2.4rem
      & img
        width 3rem
        height 3rem
    &__container
      padding-left 1.4rem
      padding-right 1.4rem
    &__text
      font-size 1.6rem
      margin-bottom 3.8rem
