.Header
  padding-top 2.5rem
  flex 0 0 auto
  &__logo
    width 21.9rem
    height 7.2rem
    background var(--logoImage) center center/cover no-repeat
    flex 0 0 auto
    transition background-image var(--transition)
    will-change: background-image
  &__container
    display flex
    justify-content space-between
    align-items center

.Switch
  display flex
  align-items center
  flex 0 0 auto
  & input
    display none
    &:checked + label .Switch__circle
      left calc(100% - 1.7rem)
  &__container
    display flex
    position relative
    align-items center
    width 4.2rem
    height 2.2rem
    background-color var(--secondaryColor)
    border-radius 50px
    cursor pointer
    transition: background-color var(--transition)
    will-change: background-color
  &__image
    width 1.6em
    height 1.6rem
    background var(--switchImage) center center/cover no-repeat
    margin-right 1.2rem
    transition background-image var(--transition)
    will-change: background-image
  &__circle
    position absolute
    top 50%
    left .5rem
    transform translateY(-50%)
    width 1.2rem
    height 1.2rem
    border-radius 50%
    background-color var(--primaryColor)
    transition left var(--transition), background-color var(--transition)
    will-change: left, background-color
