.Header
  padding-top 2.5rem
  flex 0 0 auto
  &__logo
    flex 0 0 auto
    & svg
      width 21.9rem
      height 7.2rem
      & path
        transition fill var(--transition)
        will-change: fill
  &__container
    display flex
    justify-content space-between
    align-items center

.Switch
  display flex
  align-items center
  flex 0 0 auto
  & input
    display none
    &:checked + label .Switch__circle
      left calc(100% - 1.7rem)
  &__container
    display flex
    position relative
    align-items center
    width 42px
    height 22px
    background-color var(--secondaryColor)
    border-radius 50px
    cursor pointer
    transition: background-color var(--transition)
    will-change: background-color
  &__images
    position relative
    width 16px
    height 16px
    margin-right 1.2rem
  &__image
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    transition: opacity var(--transition)
    will-change: opacity
    &_sun
      opacity 0
  &__circle
    position absolute
    top 50%
    left .5rem
    transform translateY(-50%)
    width 12px
    height 12px
    border-radius 50%
    background-color var(--primaryColor)
    transition left var(--transition), background-color var(--transition)
    will-change: left, background-color

@media (max-width 667px)
  .Header
    &__logo
      width 12rem
      height 4rem
  .Switch
    &__image
      width 12px
      height 12px
    &__container
      width 3.4rem
      height 1.8rem
    &__circle
      width 10px
      height 10px
